/* Estilos para imágenes con #thumbnail en la URL */
img[src*="#thumbnail"] {
    width: 170px;
    height: 170px;
    display: block;
    margin: 0 auto; /* Centra horizontalmente */
}

/* Estilos para imágenes con #sat en la URL */
img[src*="#sat"] {
    width: 270px;
    height: 170px;
    display: block;
    margin: 0 auto; /* Centra horizontalmente */
}

/* Estilos generales para centrar imágenes dentro de un contenedor */
.img-container {
    text-align: center; /* Centra el contenido del contenedor */
}

.img-container img {
    display: inline-block;
}


/* Estilo para el fondo de la página específica */
.post-single {
    background-image: url('/images/contawall.jpg');
    background-size: cover;
    background-position: center; /* Centra la imagen en la página */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la vista */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}



