<!-- layouts/_default/servicios.html -->
<h3>Nuestros Servicios</h3>

<ul>
    <li><img src="/images/tramites.png" alt="Trámites Administrativos" class="icono-servicio"> <strong>Trámites Administrativos</strong>: Ofrecemos asistencia completa en la gestión de trámites administrativos, asegurando que todos los procesos sean manejados de manera eficiente y sin contratiempos.</li>
    <li><img src="/images/sat.png" alt="Declaraciones SAT" class="icono-servicio"> <strong>Declaraciones SAT</strong>: Nos especializamos en la preparación y presentación de declaraciones fiscales ante el Servicio de Administración Tributaria (SAT), garantizando el cumplimiento con las normativas fiscales vigentes.</li>
    <li><img src="/images/licencia.png" alt="Permisos y Licencias" class="icono-servicio"> <strong>Permisos y Licencias</strong>: Asesoramos y gestionamos la obtención de permisos y licencias necesarios para el correcto funcionamiento de tu negocio, facilitando el proceso burocrático y asegurando la legalidad de todas tus operaciones.</li>
</ul>

<p>Nos enorgullece ofrecer un servicio de calidad, respaldado por años de experiencia y un compromiso firme con la satisfacción de nuestros clientes. En <strong>Contadores y Asociados</strong>, tu tranquilidad es nuestra prioridad.</p>
